@media all {

    html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, span, li, pre, code, address, table, form, fieldset, blockquote, div {
        padding: 0;
        margin: 0;
        font-family: "Times New Roman", Times, serif;
        font-style: normal;
        font-size: 12pt;
    }

    .font10_pre {
        font-family: "Times New Roman", Times, serif;
        font-style: normal;
        font-size: 10pt;
    }

    .courier_12 {
        font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
        font-size: 12pt;
        font-style: normal;
    }

    .font11_pre {
        font-family: "Times New Roman", Times, serif;
        font-style: normal;
        font-size: 11pt;
    }

    .font12_pre {
        font-family: "Times New Roman", Times, serif;
        font-style: normal;
        font-size: 12pt;
    }

    .fontIbanView {
        font-size: 9pt;
        padding-top: 2px;
    }

    .font10IbanView {
        font-size: 10pt;
        padding-top: 2px;
    }

    .font9Details {
        font-size: 9pt;
        padding-top: 2px;
    }

    .font10Details {
        font-size: 10pt;
        padding-top: 2px;
    }

    body {
        font-family: "Times New Roman", Times, serif;
        font-style: normal;
        font-size: 12pt;
        margin-left: 10mm;
        margin-top: 3mm;
    }

    .body_all {
        font-family: "Times New Roman", Times, serif;
        font-style: normal;
        font-size: 12pt;
        margin-left: 0mm;
        margin-top: 0mm;
    }

    table {
        border-collapse: collapse;
    }

    .tablepaperA4 {
        width: 680px;
    }

    .tableEpd {
        width: 680px;
        border-spacing: 0 0;
    }

    .borderHr {
        border: none; /* Убираем границу для браузера Firefox */
        color: black; /* Цвет линии для остальных браузеров */
        background-color: black; /* Цвет линии для браузера Firefox и Opera */
        height: 2px;
    }

    .font_color {
        color: #0000FF;
    }

    .right_table {
        text-align: right;
    }

    .td_pl {
        padding-left: 3px;
    }

    .td_pr {
        padding-right: 3px;
    }

    .th_title {
        color: #ffffff;
        background-color: #55954B;
        text-align: center;
        font-size: 1.1em;
        padding-top: 5px;
        padding-bottom: 4px;
    }

    .th_title_font {
        color: #ffffff;
        font-weight: bold;
        background-color: #55954B;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 4px;
    }

    .font_bold {
        font-weight: bold;
    }

    .tb_background {
        background-color: #eaf2d3;
    }

    .td_pt {
        padding-top: 5px;
    }

    .td_w, .my_table {
        border-style: solid;
        border-width: 1px;
        border-color: black;
    }



    .my_table_color {
        border-style: solid;
        border-width: 1px;
        border-color: #0000FF;
    }

    .my_table_r_color {
        border-right: solid;
        border-right-color: #0000FF;
        border-right-width: 1px;
    }

    .my_table_b_color {
        border-bottom: solid;
        border-bottom-color: #0000FF;
        border-bottom-width: 1px;
    }

    .my_table_t_color {
        border-top: solid;
        border-top-color: #0000FF;
        border-top-width: 1px;
    }

    .my_table_l_color {
        border-left: solid;
        border-left-width: 1px;
        border-left-color: #0000FF;
    }

    .my_table_r_silver {
        border-right: solid;
        border-right-color: silver;
        border-right-width: 1px;
    }

    .textbold {
        font-weight: bold;
    }

    .textcolorgray {
        color: gray;
    }

    .tableaccount {
        table-layout: fixed;
        border-collapse: collapse;
        border-color: black;
        font-family: "Times New Roman", Times, serif;
        font-size: 10px;
        font-style: normal;
        width: 682px;
    }

    .tableFixed {
        table-layout: fixed;
    }

    .table_payment {
        table-layout: fixed;
        font-family: "Times New Roman", Times, serif;
        font-size: 12pt;
        font-style: normal;
        width: 680px;
    }

    .tablePaymentNoFixed {
        font-family: "Times New Roman", Times, serif;
        font-size: 12pt;
        font-style: normal;
        width: 680px;
    }

    .leftText {
        float: left;
    }

    .rightText {
        text-align: right;
        padding-right: 5px;
    }

    .rightTextNoPadding {
        text-align: right;
    }

    .justifyText {
        text-align: justify;
    }

    .centerText, .center_table {
        text-align: center;
    }

    .textWrap {
        word-wrap: break-word;
    }

    .wrapword {
        white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        white-space: pre-wrap; /* css-3 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
        white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
        word-break: break-all;
        white-space: normal;
    }

    .wrapword_word {
        white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        white-space: pre-wrap; /* css-3 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
        white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
        -moz-word-break: normal;
        -o-word-break: normal;
        word-break: normal;
        white-space: normal;
        text-align: justify;
    }

    .div_pre {
        font-family: monospace;
        white-space: nowrap;
    }

    .pre_wrap {
        display: block;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
        white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
        font-size: 12pt;
    }

    .pre_wrap_no_font_size {
        display: block;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
        white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    }


    .span_pre {
        white-space: pre;
        font-family: monospace;
        display: block;
        unicode-bidi: embed;
    }

    .tablefix {
        table-layout: fixed;
    }

    .div_courier {
        font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
        font-size: 10pt;
        font-style: normal;
        width: 780px;
        padding: 0;
        margin: 0;
        clear: both;
    }

    .div-courier-post {
        font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
        font-size: 10pt;
        font-style: normal;
        width: 100%;
        padding: 0;
        margin: 0;
        clear: both;
    }

    .div_courier_invoice {
        font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
        font-size: 10pt;
        font-style: normal;
        padding: 0;
        margin: 0;
        clear: both;
    }

    .font_courier_14 {
        font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
        font-size: 14pt;
        font-style: normal;
        padding: 0;
        margin: 0;
    }

    .font_courier_12 {
        font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
        font-size: 12pt;
        font-style: normal;
        padding: 0;
        margin: 0;
    }

    .font_courier_10 {
        font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
        font-size: 10pt;
        font-style: normal;
        padding: 0;
        margin: 0;
    }

    .div_times {
        font-family: "Times New Roman", Times, serif;
        font-style: normal;
        font-size: 10pt;
    }

    .div_width {
        width: 680px;
        padding: 0;
        margin: 0;
        clear: both;
    }

    ul {
        margin: 0;
        margin-top: 10px;
        padding: 0;
    }

        ul .mt103_info {
            clear: both;
            list-style-type: none;
            margin: 0;
        }

    label {
        display: block;
        width: 320px;
        float: left;
    }

    .div_left {
        display: block;
        float: left;
    }

    .div_clear {
        clear: both;
    }

    .div_paragraph {
        text-indent: 25px;
        text-align: justify;
    }

    .color_red {
        color: red;
    }

    .color_green {
        color: green;
    }

    .padding_left {
        padding-left: 10px;
    }

    .padding_top {
        padding-top: 10px;
    }

    .padding_bottom {
        padding-bottom: 10px;
    }

    .padding_right {
        padding-right: 10px;
    }

    .info_text {
        display: block;
        float: left;
    }

    .info_count {
        text-align: right;
        width: 80px;
    }

    .info_padding_right {
        padding-right: 5px;
    }

    .info_padding {
        padding: 5px;
    }

    .info_amount {
        text-align: right;
        width: 200px;
    }

    .info_number {
        text-align: right;
        width: 100px;
    }

    .info_border_bottom, .view_bottom, .my_table_b, .border_bottom {
        border-bottom-color: black;
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }

    .info_border_top, .view_top, .my_table_t, .border_top {
        border-top-color: black;
        border-top-width: 1px;
        border-top-style: solid;
    }

    .info_border_right, .my_table_r, .border_right {
        border-right-color: black;
        border-right-width: 1px;
        border-right-style: solid;
    }

    .info_border_left, .my_table_l, .border_left {
        border-left-color: black;
        border-left-width: 1px;
        border-left-style: solid;
    }

    .vertical_top {
        vertical-align: top;
    }

    .vertical_bottom {
        vertical-align: bottom;
    }

    .font_attention {
        font-weight: bold;
        color: red;
    }

    .min_height {
        min-height: 17px;
    }

    dl {
        margin-bottom: 5px;
    }

    dt,
    dd {
        line-height: 1.428571429;
    }

    dt {
        font-weight: bold;
    }

    dd {
        margin-left: 0;
    }

    .dl-horizontal dt {
        float: left;
        width: 170px;
        overflow: hidden;
        clear: left;
        text-align: right;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .dl-horizontal dd {
        margin-left: 190px;
        width: 500px;
    }

        .dl-horizontal dd:before,
        .dl-horizontal dd:after {
            display: table;
            content: " ";
        }

        .dl-horizontal dd:after {
            clear: both;
        }

    .wrapwordNew {
        -ms-word-wrap: break-word;
        word-wrap: break-word; /* Internet Explorer 5.5+ */
    }

    .hr_two {
        border: none;
        height: 1px; /* Толщина линии */
        color: black;
        background-color: black;
    }

    .hr_margin {
        margin-top: -6px;
    }

    .hidden_element {
        visibility: hidden;
        display: none;
    }

    .new_page {
        page-break-after: always;
    }

    .font_depo {
        font-size: 0.9rem;
        line-height: 1.5rem;
    }
}
