@media screen {
    .font7 {
        font-size: 10pt;
    }

    .font6 {
        font-size: 10pt;
    }

    .font8 {
        font-size: 8pt;
    }
    .font9 {
        font-size: 10pt;
    }

    .font9Name {
        font-size: 12pt;
    }

    .font10 {
        font-size: 12pt;
    }

    .font11_NPP {
        font-size: 10pt;
    }

    .font_pril {
        font-family: "Courier New", Courier, monospace;
        font-style: normal;
        font-size: 14px;
    }

    .widthCBYEmpty {
        width: 75px;
    }

    .widthCBY {
        width: 50px;
    }

    .widthCBYEmptyTwo {
        width: 51px;
    }
}
